$menuWidth: 220px;
$menuMaxWidth: 1000px;
$background: #3a3d57;
$primaryFontColor: #ffff;
$highlightColor: #14cc76;
$primaryButtonColor: #ff57a2;
@mixin container {
	margin-left: $menuWidth;
	padding: 5rem 0px;
	width: 1000px;
}

@mixin mainContainer {
	width: 100%;
	height: 100%;
	border: 1px solid black;
	display: flex;
	justify-content: center;
}

@mixin background {
	background-image: url(src/assets/images/bg-deco-left.svg),
		url(src/assets/images/bg-deco-right.svg);
	background-repeat: no-repeat;
	background-position: $menuWidth bottom, 100% 0;
	background-size: 150px, 250px;
	background-attachment: fixed;
	overflow: auto;
	background-color: $background;
}
