@import './variables';
@import './fonts';

.main-container {
	@include mainContainer;
	@include background;
}

.container {
	@include container;
}

.title-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	h1 {
		font-family: $bold;
		font-size: 2.8rem;
		color: $primaryFontColor;
	}
	margin-bottom: 40px;
}

.text-p-wrapper {
	p {
		font-family: $vb;
		color: $primaryFontColor;
	}
	margin-bottom: 40px;
}

.img-wrapper {
	position: relative;
	margin-top: 30px;
	width: 100%;
	height: 500px;
	overflow: clip;
	overflow-clip-margin: content-box;
	.img-title {
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.5);
		color: white;
		padding: 10px 24px;
		width: 100%;
		box-sizing: border-box;
		z-index: 6;
		color: $primaryFontColor;
		font-size: 1rem;
		font-family: $medium;
	}
	.img-back {
		width: 100%;
		height: 100%;
		transition: transform 0.5s ease;
		transform: scale(1.4);
		filter: blur(3px);
	}
	.img-front {
		width: 100%;
		height: 500px;
		z-index: 5;
		position: absolute;
		width: 75%;
		right: 100px;
		transition: 0.3s;
	}
	&:hover .img-back {
		transform: scale(1.05);
		overflow: clip;
		overflow-clip-margin: content-box;
	}
	&:hover .img-front {
		transform: scale(1.05);
		transition: transform 0.3s;
		overflow: clip;
		overflow-clip-margin: content-box;
	}
}

.p-wrapper {
	p {
		margin-top: 40px;
		font-family: $medium;
		color: $primaryFontColor;
	}
}

.btn-wrapper {
	margin-top: 40px;
	button {
		font-weight: 700;
		padding: 8px 16px;
		&:nth-child(1) {
			width: 50px;
			background-color: $primaryButtonColor;
			border-radius: 2rem;
			height: 35px;
		}
		&:nth-child(2) {
			margin-left: 15px;
			width: 85px;
			background-color: $primaryButtonColor;
			border-radius: 2rem;
			height: 35px;
		}
		&:nth-child(3) {
			margin-left: 15px;
			background-color: $primaryButtonColor;
			border-radius: 2rem;
			width: 65px;
			height: 35px;
		}
	}
}
